.swiper{
    height: 585px;
    font-family: Arial, Helvetica, sans-serif;
}

.swiper-wrapper{
    display: flex;
}

.estilo-sombra{
   background-color: rgba(0, 0, 0, 0.28);
   width: 585px;
   height: 585px;
   position: absolute;
}

.swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide img{
    width: 585px;
    height: 585px;
}

.swiper-slide h3{
    color: white;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    position: relative;
    bottom: 50%;
}

.estilo-tatuador{
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    position: relative;
    bottom: 45%;   
}

.swiper-button-next, .swiper-button-prev{
    color: white;
}